/* vietnamese */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local("Muli Regular"), local("Muli-Regular"), url(https://fonts.gstatic.com/s/muli/v10/Ul00HI23GehQ9qPsH_7ocQ.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local("Muli Regular"), local("Muli-Regular"), url(https://fonts.gstatic.com/s/muli/v10/jbCPU7JDvi-y7oVFF-ztAg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local("Muli Regular"), local("Muli-Regular"), url(https://fonts.gstatic.com/s/muli/v10/z6c3Zzm51I2zB_Gi7146Bg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'journalregular';
  src: url("../fonts/fonts/journal/journal-webfont.eot");
  src: url("../fonts/fonts/journal/journal-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fonts/journal/journal-webfont.woff") format("woff"), url("../fonts/fonts/journal/journal-webfont.ttf") format("truetype"), url("../fonts/fonts/journal/journal-webfont.svg#journalregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Social Icon Mixin */
/* Breakpoints Mixin */
#hi, section.page1, section.page2, section.page3 {
  display: none; }

html {
  font-family: 'Muli', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: -moz-radial-gradient(center, ellipse cover, #506590 0%, #323368 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #506590 0%, #323368 100%);
  background: -o-radial-gradient(center, ellipse cover, #506590 0%, #323368 100%);
  background: -ms-radial-gradient(center, ellipse cover, #506590 0%, #323368 100%);
  background: radial-gradient(center, ellipse cover, #506590 0%, #323368 100%);
  height: 100%;
  overflow: hidden;
  color: #ffffff; }
  html a:hover {
    text-decoration: underline;
    cursor: pointer; }
  html a {
    color: #7ac2ff;
    text-decoration: none; }

body.pace-done {
  background: transparent;
  transition: background 2s linear; }

body.pace-running {
  background: rgba(0, 0, 0, 0.71); }

.pace:before {
  font-family: 'Muli', sans-serif;
  content: "LOADING";
  font-size: 1.5em;
  color: #ffffff;
  position: fixed;
  display: block;
  z-index: 99999;
  bottom: 51%;
  margin-left: 50px; }

@media (max-width: 72rem) {
  .onepage-pagination {
    display: none !important; } }

.onepage-pagination li a {
  height: 2px; }
  .onepage-pagination li a:hover {
    text-decoration: none; }
  .onepage-pagination li a.active span {
    opacity: 1; }
  .onepage-pagination li a span {
    position: relative;
    right: 120px;
    font-size: 16px;
    white-space: nowrap;
    bottom: 5px;
    text-align: right;
    width: 105px;
    color: #ffffff;
    display: block;
    opacity: 0;
    transition: opacity .1s ease; }

.main {
  height: 100%; }
  .main section h2 {
    font-size: 3em;
    margin: 25px auto;
    text-align: center; }
    @media (max-width: 48rem) {
      .main section h2 {
        display: none; } }
  .main section.page0 {
    height: 100%; }
    .main section.page0 .intro {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-direction: column; }
      .main section.page0 .intro h1#sign {
        display: none;
        font-family: 'journalregular', cursive;
        margin-left: 20%;
        font-size: 3.5em;
        font-weight: 500; }
        @media (max-width: 32rem) {
          .main section.page0 .intro h1#sign {
            margin-left: 15%;
            margin-top: 5px;
            font-size: 3em; } }
      .main section.page0 .intro p {
        color: #ffffff;
        font-size: 1.7em; }
        .main section.page0 .intro p#hi {
          font-size: 3em;
          font-weight: 800; }
        .main section.page0 .intro p#welcome {
          display: none;
          text-align: center;
          padding: 0 20px; }
          @media (max-width: 32rem) {
            .main section.page0 .intro p#welcome {
              font-size: 1.4em; } }

.top-bar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 82px; }
  .top-bar .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%; }
    @media (max-width: 48rem) {
      .top-bar .icons {
        justify-content: center; } }
    .top-bar .icons .logo {
      cursor: pointer;
      margin: 0 2% 0 1%;
      display: none; }
      @media (max-width: 48rem) {
        .top-bar .icons .logo {
          margin-right: 0;
          margin-left: 10px; } }
      .top-bar .icons .logo img {
        width: 55px; }
    .top-bar .icons .social-icon {
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 50px;
      height: 50px;
      margin: 0 0.5rem;
      border-radius: 50%;
      cursor: pointer;
      font-size: 1.5rem;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
      .top-bar .icons .social-icon--linkedin {
        color: #ffffff;
        background: #3f497a;
        -webkit-transition: background 400ms;
        transition: background 400ms; }
        .top-bar .icons .social-icon--linkedin:hover {
          background: #2d669d;
          background: linear-gradient(tint(#2d669d, 5%), shade(#2d669d, 5%));
          border-bottom: 1px solid shade(#2d669d, 20%);
          text-shadow: 0px 1px 0px shade(#2d669d, 20%); }
      .top-bar .icons .social-icon--twitter {
        color: #ffffff;
        background: #3f497a;
        -webkit-transition: background 400ms;
        transition: background 400ms; }
        .top-bar .icons .social-icon--twitter:hover {
          background: #2b97f1;
          background: linear-gradient(tint(#2b97f1, 5%), shade(#2b97f1, 5%));
          border-bottom: 1px solid shade(#2b97f1, 20%);
          text-shadow: 0px 1px 0px shade(#2b97f1, 20%); }
      .top-bar .icons .social-icon--github {
        color: #ffffff;
        background: #3f497a;
        -webkit-transition: background 400ms;
        transition: background 400ms; }
        .top-bar .icons .social-icon--github:hover {
          background: #4183c4;
          background: linear-gradient(tint(#4183c4, 5%), shade(#4183c4, 5%));
          border-bottom: 1px solid shade(#4183c4, 20%);
          text-shadow: 0px 1px 0px shade(#4183c4, 20%); }
      .top-bar .icons .social-icon--envelope {
        color: #ffffff;
        background: #3f497a;
        -webkit-transition: background 400ms;
        transition: background 400ms; }
        .top-bar .icons .social-icon--envelope:hover {
          background: #e96062;
          background: linear-gradient(tint(#e96062, 5%), shade(#e96062, 5%));
          border-bottom: 1px solid shade(#e96062, 20%);
          text-shadow: 0px 1px 0px shade(#e96062, 20%); }
      .top-bar .icons .social-icon:active {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset; }

.main section.page1 .container {
  font-size: 1.3em;
  line-height: 190%;
  width: 850px;
  margin: 10px auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: justify; }
  @media (max-width: 96rem) {
    .main section.page1 .container {
      font-size: 1em; } }
  @media (max-width: 72rem) {
    .main section.page1 .container {
      width: 90%;
      font-size: 1em;
      margin: 50px auto; } }
  @media (max-width: 32rem) {
    .main section.page1 .container {
      font-size: 0.8em;
      width: 75%;
      margin: 50px auto; } }
  .main section.page1 .container img {
    margin: 50px auto;
    border-radius: 50%;
    width: 30%;
    box-shadow: 0 0 1px white, 0 0 10px 5px rgba(0, 0, 0, 0.52); }
    @media (max-width: 96rem) {
      .main section.page1 .container img {
        width: 24%; } }
    @media (max-width: 32rem) {
      .main section.page1 .container img {
        width: 50%;
        margin: 30px auto 5px; } }
  .main section.page1 .container .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    width: 20%; }
    @media (max-width: 32rem) {
      .main section.page1 .container .socials {
        width: 65%; } }
    .main section.page1 .container .socials .fa {
      font-size: 40px; }
      .main section.page1 .container .socials .fa:hover {
        color: #7ac2ff;
        cursor: pointer; }

.main section.page2 .mySkills {
  width: 850px;
  margin: 3% auto;
  display: flex;
  flex-flow: column wrap;
  height: 80%;
  align-items: center; }
  @media (max-width: 72rem) {
    .main section.page2 .mySkills {
      width: 75%;
      justify-content: center; } }
  .main section.page2 .mySkills .please {
    font-size: 1.7em;
    color: #ffffff;
    display: none;
    text-align: center; }
    @media (max-width: 48rem) {
      .main section.page2 .mySkills .please {
        display: block; } }
  .main section.page2 .mySkills .skills {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 240px;
    margin-bottom: 12px;
    position: relative; }
    @media (max-width: 72rem) {
      .main section.page2 .mySkills .skills {
        width: 190px; } }
    .main section.page2 .mySkills .skills#hover-me:after {
      content: url(../img/hover-me-left.png);
      position: absolute;
      bottom: 10px;
      right: -120px; }
    @media (max-width: 48rem) {
      .main section.page2 .mySkills .skills {
        display: none; } }
    .main section.page2 .mySkills .skills h3 {
      margin: 15px 0;
      font-weight: 500; }
    .main section.page2 .mySkills .skills div {
      background-color: #373c6f;
      padding: 12px;
      margin-bottom: 15px;
      position: relative;
      border-radius: 5px; }
      .main section.page2 .mySkills .skills div span {
        background-color: #e97479;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        overflow: hidden;
        font-size: 1px;
        text-indent: -9999px;
        border-radius: 5px; }
      .main section.page2 .mySkills .skills div u {
        position: relative;
        z-index: 2;
        text-decoration: none;
        color: #ffffff; }

.main section.page3 .myProjects {
  width: 1300px;
  display: flex;
  flex-flow: wrap row;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 55%; }
  .main section.page3 .myProjects img {
    width: 500px; }
  @media (max-width: 72rem) {
    .main section.page3 .myProjects {
      width: 90%; } }
  .main section.page3 .myProjects .project {
    margin: 10px 2%;
    position: relative; }
    .main section.page3 .myProjects .project#hover-me:after {
      content: url(../img/hover-me-left.png);
      position: absolute;
      bottom: 10px;
      right: -120px; }
    .main section.page3 .myProjects .project [class^=imghvr-] {
      box-shadow: 0 0 1px white, 0 0 10px 5px rgba(0, 0, 0, 0.38); }
      .main section.page3 .myProjects .project [class^=imghvr-] img {
        width: 500px; }
      .main section.page3 .myProjects .project [class^=imghvr-] figcaption {
        background-color: #373c6f;
        padding: 5%; }
        .main section.page3 .myProjects .project [class^=imghvr-] figcaption .title_project {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          align-items: center; }
          .main section.page3 .myProjects .project [class^=imghvr-] figcaption .title_project h3 {
            font-size: 1.75em; }
          .main section.page3 .myProjects .project [class^=imghvr-] figcaption .title_project i {
            margin: 0 15px; }
        .main section.page3 .myProjects .project [class^=imghvr-] figcaption ul {
          list-style: none;
          padding: 0;
          margin-top: 0; }
          .main section.page3 .myProjects .project [class^=imghvr-] figcaption ul li strong {
            color: #7ac2ff; }
          .main section.page3 .myProjects .project [class^=imghvr-] figcaption ul li .off {
            color: #dd1919;
            font-weight: bold; }
          .main section.page3 .myProjects .project [class^=imghvr-] figcaption ul li .on {
            color: #20dd19;
            font-weight: bold; }

/*------------------------------------*  Arrow Scroller
\*------------------------------------*/
.scroll-block {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: 0 0 40px -39.5px;
  width: 80px;
  opacity: 0;
  border: 0;
  height: 60px;
  outline: 0;
  background: none; }
  .scroll-block.active {
    opacity: 1; }
    .scroll-block.active:hover .scroll-text {
      -webkit-transform: translate3d(0, -25px, 0);
      -moz-transform: translate3d(0, -25px, 0);
      -ms-transform: translate3d(0, -25px, 0);
      -o-transform: translate3d(0, -25px, 0);
      transform: translate3d(0, -25px, 0);
      opacity: 1; }

.scroll-text {
  position: absolute;
  width: 100%;
  top: -30px;
  left: -35px;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -ms-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  opacity: 0; }
  .scroll-text img {
    width: 100%;
    opacity: 0;
    position: absolute;
    animation: blink 2s infinite;
    -moz-animation: blink 2s infinite;
    -webkit-animation: blink 2s infinite; }
    @media (max-width: 72rem) {
      .scroll-text img {
        display: none; } }
    .scroll-text img.up {
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      animation-delay: 1s; }
    .scroll-text img.down {
      opacity: 1; }

.scroller-arrow {
  width: 81px;
  height: 19px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  -webkit-animation: arrowPulse 1s ease-in-out infinite alternate;
  -moz-animation: arrowPulse 1s ease-in-out infinite alternate;
  -ms-animation: arrowPulse 1s ease-in-out infinite alternate;
  animation: arrowPulse 1s ease-in-out infinite alternate;
  margin-bottom: 15px; }
  .scroller-arrow:before {
    width: 45px;
    background: #EFF8FC;
    height: 4px;
    content: '';
    left: 0;
    position: absolute;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotate(27deg);
    -moz-transform: rotate(27deg);
    -ms-transform: rotate(27deg);
    -o-transform: rotate(27deg);
    transform: rotate(27deg);
    border-radius: 3px; }
  .scroller-arrow:after {
    width: 45px;
    background: #EFF8FC;
    height: 4px;
    content: '';
    right: 0;
    position: absolute;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotate(-27deg);
    -moz-transform: rotate(-27deg);
    -ms-transform: rotate(-27deg);
    -o-transform: rotate(-27deg);
    transform: rotate(-27deg);
    border-radius: 3px;
    top: 20px; }

@-webkit-keyframes arrowPulse {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 30px, 0);
    opacity: 0; } }

@-moz-keyframes arrowPulse {
  from {
    opacity: 1; }
  to {
    -moz-transform: translate3d(0, 30px, 0);
    opacity: 0; } }

@keyframes arrowPulse {
  from {
    opacity: 1; }
  to {
    transform: translate3d(0, 30px, 0);
    opacity: 0; } }

@-webkit-keyframes blink {
  0%, 50% {
    opacity: 0; }
  51%, 100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0%, 50% {
    opacity: 0; }
  51%, 100% {
    opacity: 1; } }

@keyframes blink {
  0%, 50% {
    opacity: 0; }
  51%, 100% {
    opacity: 1; } }

/*------------------------------------*  Tooltip -> Thank you [Jase](https://codepen.io/jasesmith/) !
\*------------------------------------*/
/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; }

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  font-size: .9em;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0; }

[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1001; }

[tooltip]::after {
  content: attr(tooltip);
  text-align: center;
  /*
    Let the content set the size of the tooltips
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000;
  /* absurdity 2 */ }

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block; }

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important; }

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333; }

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px); }

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -0.5em); }

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333; }

[tooltip][flow^="down"]::after {
  top: calc(100% + 5px); }

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, 0.5em); }

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-0.5em, -50%); }

[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-0.5em, -50%); }

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(0.5em, -50%); }

[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(0.5em, -50%); }

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0); } }

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%); } }

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards; }

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards; }
