@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Give+You+Glory);
@import url(https://fonts.googleapis.com/css?family=Muli);

$blanc : #ffffff;
$bleu : #7ac2ff;
$couleurSkills : #e97479;
$color-github: #4183c4;
$color-twitter: #2b97f1;
$color-linkedin: #2d669d;
$color-envelope: #e96062;

/* Social Icon Mixin */
@mixin social-icon($color) {
  color: $blanc;
  background: #3f497a;
  -webkit-transition: background 400ms;
  transition: background 400ms;

  &:hover {
    background: $color;
    background: linear-gradient(tint($color, 5%), shade($color, 5%));
    border-bottom: 1px solid shade($color, 20%);
    text-shadow: 0px 1px 0px shade($color, 20%);
  }
}


$breakpoints: (
  xs: 32rem,
  sm: 48rem,
  md: 72rem,
  lg: 96rem,
  xl: 102rem,
  xx: 120rem
);

/* Breakpoints Mixin */
@mixin break($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@font-face {
  font-family: 'journalregular';
  src: url('../fonts/fonts/journal/journal-webfont.eot');
  src: url('../fonts/fonts/journal/journal-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fonts/journal/journal-webfont.woff') format('woff'),
  url('../fonts/fonts/journal/journal-webfont.ttf') format('truetype'),
  url('../fonts/fonts/journal/journal-webfont.svg#journalregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#hi, section.page1, section.page2{
  display: none;
}

html{
  font-family: 'Muli', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: -moz-radial-gradient(center, ellipse cover, #506590 0%, #323368 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #506590 0%, #323368 100%);
  background: -o-radial-gradient(center, ellipse cover, #506590 0%, #323368 100%);
  background: -ms-radial-gradient(center, ellipse cover, #506590 0%, #323368 100%);
  background: radial-gradient(center, ellipse cover, #506590 0%, #323368 100%);
  height: 100%;
  overflow: hidden;
  color: $blanc;

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  a {
    color: $bleu;
    text-decoration: none;
  }
}

body.pace-done{
  background: transparent;
  transition: background 2s linear;
}

body.pace-running{
  background: rgba(0, 0, 0, 0.71);
}

.pace:before {
  font-family: 'Muli', sans-serif;
  content: "LOADING";
  font-size: 1.5em;
  color: #ffffff;
  position: fixed;
  display: block;
  z-index: 99999;
  bottom: 51%;
  margin-left: 50px;
}

.onepage-pagination{
  @include break(md) {
    display: none !important;
  }
}

.main{
  height: 100%;

  section{
    h2{
      font-size: 3.75em;
      margin: 55px auto;
      text-align: center;

      @include break(sm) {
        display: none;
      }
    }
  }

  section.page0{
    height: 100%;
    .intro{
      display: flex;
      justify-content: center;
      align-items: center;
      height:100%;
      flex-direction: column;

      h1{
        &#sign{
          display: none;
          font-family: 'journalregular', cursive;
          margin-left: 20%;
          font-size: 3.5em;
          font-weight: 500;

          @include break(xs) {
            margin-left: 15%;
            margin-top: 5px;
            font-size: 3em;
          }
        }
      }

      p{
        color: $blanc;
        font-size: 1.7em;

        &#hi{
          font-size: 3em;
          font-weight: 800;
        }

        &#welcome{
          display: none;
          text-align: center;
          padding: 0 20px;

          @include break(xs) {
            font-size: 1.4em;
          }

        }
      }
    }
  }
}



.top-bar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 82px;

  .icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    .logo{
      cursor: pointer;
      margin: 0 2%;
      display: none;

      h2{
        font-size: 2em;
        margin: 0;
      }
    }

    .social-icon {
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 50px;
      height: 50px;
      margin: 0 0.5rem;
      border-radius: 50%;
      cursor: pointer;
      font-size: 1.5rem;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(0,0,0,0.2);

      &--linkedin { @include social-icon($color-linkedin); }
      &--twitter { @include social-icon($color-twitter); }
      &--github { @include social-icon($color-github); }
      &--envelope { @include social-icon($color-envelope); }

      &:active {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
      }
    }
  }
}

.main section.page1{
  .container{
    font-size: 1.3em;
    line-height: 190%;
    width: 850px;
    margin: 10px auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: justify;

    @include break(lg) {
      font-size: 1em;
    }

    @include break(md) {
      width: 90%;
      font-size: 1em;
    }

    @include break(xs) {
      font-size: 0.8em;
      width: 75%;
    }

    img{
      margin: 50px auto;
      border-radius: 50%;
      width: 30%;
      border: black 2px solid;

      @include break(lg) {
        width: 24%;
      }

      @include break(xs) {
        width: 50%;
        margin: 35px auto
      }
    }

    .socials{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      align-content: center;
      width: 20%;

      @include break(xs) {
        width: 65%;
      }

      .fa{
        font-size: 40px;

        &:hover{
          color: $bleu;
          cursor: pointer;
        }
      }
    }
  }

}

.main section.page2 {
  .mySkills{
    width: 850px;
    margin: 3% auto;
    display: flex;
    flex-flow: column wrap;
    height: 80%;
    align-items: center;

    @include break(lg) {
      width: 1020px;
    }

    @include break(md) {
      width: 90%;
    }

    .please{
      font-size: 1.7em;
      color: $blanc;
      display: none;
      text-align: center;

      @include break(sm){
        display: block;
      }
    }

    .skills {
      text-align: center;
      display: flex;
      flex-direction: column;
      width: 240px;
      margin-bottom: 12px;

      @include break(sm){
        display: none;

        //&:nth-child(4){
        //  display: block;
        //}
      }

      h3{
        margin: 15px 0;
        font-weight: 500;
      }

      div{
        background-color: #373c6f;
        padding: 12px;
        margin-bottom: 15px;
        position: relative;
        border-radius: 5px;

        span {
          background-color: $couleurSkills;
          position: absolute;
          z-index: 1;
          left: 0;
          top: 0;
          height: 100%;
          overflow: hidden;
          font-size: 1px;
          text-indent: -9999px;
          border-radius: 5px;
        }

        u {
          position: relative;
          z-index: 2;
          text-decoration: none;
          color: $blanc;
        }
      }
    }
  }
}

.main section.page3 {
  .myProjects{
    width: 1000px;
    display: flex;
    flex-flow: wrap row;
    margin: auto;
    justify-content: center;

    @include break(md) {
      width: 90%;
    }

    .project{
      margin: 2%;
    }
  }
}

/*------------------------------------*\
  Arrow Scroller
\*------------------------------------*/
.scroll-block {
  display: none;
  position:absolute;
  left:50%;
  bottom:0;
  margin:0 0 40px -39.5px;
  width:80px;
  opacity:0;
  border:0;
  height:60px;
  outline:0;
  background:none;

  &.active{
    opacity: 1;

    &:hover .scroll-text{
      -webkit-transform:translate3d(0,-25px, 0);
      -moz-transform:translate3d(0,-25px, 0);
      -ms-transform:translate3d(0,-25px, 0);
      -o-transform:translate3d(0,-25px, 0);
      transform:translate3d(0,-25px, 0);
      opacity:1;
    }
  }

}

.scroll-text {
  position: absolute;
  width: 100%;
  top: -30px;
  left: -35px;
  -webkit-transition:.25s ease-in-out;
  -moz-transition:.25s ease-in-out;
  -ms-transition:.25s ease-in-out;
  -o-transition:.25s ease-in-out;
  transition:.25s ease-in-out;
  opacity:0;

  img{
    width: 100%;
    opacity: 0;
    position: absolute;

    @include break(md) {
      display: none;
    }

    animation: blink 2s infinite;
    -moz-animation: blink 2s infinite;
    -webkit-animation: blink 2s infinite;

    &.up{
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      animation-delay: 1s;
    }

    &.down{
      opacity: 1;
    }
  }
}

.scroller-arrow {
  width:81px;
  height:19px;
  margin-left:auto;
  margin-right:auto;
  position:absolute;
  top:0;
  -webkit-animation: arrowPulse 1s ease-in-out infinite alternate;
  -moz-animation: arrowPulse 1s ease-in-out infinite alternate;
  -ms-animation: arrowPulse 1s ease-in-out infinite alternate;
  animation: arrowPulse 1s ease-in-out infinite alternate;
  margin-bottom:15px;

  &:before{
    width: 45px;
    background: #EFF8FC;
    height: 4px;
    content: '';
    left: 0;
    position: absolute;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotate(27deg);
    -moz-transform: rotate(27deg);
    -ms-transform: rotate(27deg);
    -o-transform: rotate(27deg);
    transform: rotate(27deg);
    border-radius: 3px;
  }

  &:after{
    width: 45px;
    background: #EFF8FC;
    height: 4px;
    content: '';
    right: 0;
    position: absolute;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotate(-27deg);
    -moz-transform: rotate(-27deg);
    -ms-transform: rotate(-27deg);
    -o-transform: rotate(-27deg);
    transform: rotate(-27deg);
    border-radius: 3px;
    top:20px;
  }
}

@-webkit-keyframes arrowPulse {
  from { opacity:1; }
  to {
    -webkit-transform:translate3d(0,30px,0);
    opacity:0;
  }
}

@-moz-keyframes arrowPulse {
  from { opacity:1; }
  to {
    -moz-transform:translate3d(0,30px,0);
    opacity:0;
  }
}

@keyframes arrowPulse {
  from { opacity:1; }
  to {
    transform:translate3d(0,30px,0);
    opacity:0;
  }
}

@-webkit-keyframes blink {
    0%,50%{
      opacity:0;
    }
    51%,100%{
      opacity:1;
    }
}

@-moz-keyframes blink {
  0%,50%{
    opacity:0;
  }
  51%,100%{
    opacity:1;
  }
}

@keyframes blink {
  0%,50%{
    opacity:0;
  }
  51%,100%{
    opacity:1;
  }
}

/*------------------------------------*\
  Tooltip -> Thank you [Jase](https://codepen.io/jasesmith/) !
\*------------------------------------*/
/* START TOOLTIP STYLES */
[tooltip] {
  position: relative;
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  font-size: .9em;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1001;
}
[tooltip]::after {
  content: attr(tooltip);

  text-align: center;

  /*
    Let the content set the size of the tooltips
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}