@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Give+You+Glory);
@import url(https://fonts.googleapis.com/css?family=Muli);
@font-face {
  font-family: 'journalregular';
  src: url("../fonts/fonts/journal/journal-webfont.eot");
  src: url("../fonts/fonts/journal/journal-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fonts/journal/journal-webfont.woff") format("woff"), url("../fonts/fonts/journal/journal-webfont.ttf") format("truetype"), url("../fonts/fonts/journal/journal-webfont.svg#journalregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-family: 'Muli', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: -moz-radial-gradient(center, ellipse cover, #506590 0%, #323368 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #506590 0%, #323368 100%);
  background: -o-radial-gradient(center, ellipse cover, #506590 0%, #323368 100%);
  background: -ms-radial-gradient(center, ellipse cover, #506590 0%, #323368 100%);
  background: radial-gradient(center, ellipse cover, #506590 0%, #323368 100%);
  height: 100%;
  overflow: hidden;
  color: #ffffff; }
  html a:hover {
    text-decoration: underline;
    cursor: pointer; }
  html a {
    color: #7ac2ff;
    text-decoration: none; }

body.pace-done {
  background: transparent;
  transition: background 2s linear; }

body.pace-running {
  background: rgba(0, 0, 0, 0.71); }

.pace:before {
  font-family: 'Muli', sans-serif;
  content: "LOADING";
  font-size: 1.5em;
  color: #ffffff;
  position: fixed;
  display: block;
  z-index: 99999;
  bottom: 51%;
  margin-left: 50px; }

.ribbon-wrap {
  display: none;
  position: fixed;
  left: -41px;
  top: 49px;
  width: 150px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-color: #a00;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #a00;
  box-shadow: 0px 6px 5px -5px rgba(0, 0, 0, 0.5);
  z-index: 999; }
  .ribbon-wrap .trap-ribbon {
    position: absolute;
    left: -15px;
    top: 2px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.7);
    width: 180px;
    text-align: center; }
    .ribbon-wrap .trap-ribbon a {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 13px;
      font-weight: 700;
      color: #d8d8d8;
      text-decoration: none;
      text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
      text-align: center;
      line-height: 22px;
      display: inline-block;
      border-top: 1px dotted rgba(255, 255, 255, 0.7);
      transition: color 500ms ease; }
      .ribbon-wrap .trap-ribbon a:hover {
        color: #fff;
        text-shadow: 0 1px rgba(0, 0, 0, 0.85); }

#hi, .top-bar, section.page1, section.page2 {
  display: none; }

.main {
  height: 100%; }
  .main section h2 {
    font-size: 3.75em;
    margin: 55px auto;
    text-align: center; }
  .main section.page0 {
    height: 100%; }
    .main section.page0 .intro {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-direction: column; }
      .main section.page0 .intro h1#sign {
        display: none;
        font-family: 'journalregular', cursive;
        margin-left: 20%;
        font-size: 3.5em;
        font-weight: 500; }
      .main section.page0 .intro p {
        color: #ffffff;
        font-size: 1.7em; }
        .main section.page0 .intro p#hi {
          font-size: 3em;
          font-weight: 800; }
        .main section.page0 .intro p#welcome {
          display: none;
          text-align: center; }

.top-bar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 82px; }
  .top-bar .logo {
    float: right;
    margin-top: -6px;
    right: 60px;
    position: relative; }
    .top-bar .logo h2 {
      font-size: 2em; }

.main section.page1 .container {
  font-size: 1.3em;
  line-height: 190%;
  width: 850px;
  margin: 10px auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center; }
  .main section.page1 .container img {
    margin: 50px auto;
    border-radius: 50%;
    border: black 5px solid; }
  .main section.page1 .container .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    width: 20%; }
    .main section.page1 .container .socials .fa {
      font-size: 40px; }
      .main section.page1 .container .socials .fa:hover {
        color: #7ac2ff;
        cursor: pointer; }

.main section.page2 .mySkills {
  width: 850px;
  margin: 10% auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .main section.page2 .mySkills .skills {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 240px;
    margin: auto; }
    .main section.page2 .mySkills .skills h3 {
      margin: 15px 0; }
    .main section.page2 .mySkills .skills div {
      background-color: #ffffff;
      padding: 15px;
      margin-bottom: 15px;
      position: relative; }
      .main section.page2 .mySkills .skills div span {
        background-color: #e97479;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        overflow: hidden;
        font-size: 1px;
        text-indent: -9999px; }
      .main section.page2 .mySkills .skills div u {
        position: relative;
        z-index: 2;
        text-decoration: none;
        color: #ffffff; }

/*------------------------------------*  Arrow Scroller
\*------------------------------------*/
.scroll-block {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: 0 0 40px -39.5px;
  width: 80px;
  opacity: 0;
  border: 0;
  height: 60px;
  outline: 0;
  background: none; }
  .scroll-block.active {
    opacity: 1; }
    .scroll-block.active:hover .scroll-text {
      -webkit-transform: translate3d(0, -25px, 0);
      -moz-transform: translate3d(0, -25px, 0);
      -ms-transform: translate3d(0, -25px, 0);
      -o-transform: translate3d(0, -25px, 0);
      transform: translate3d(0, -25px, 0);
      opacity: 1; }

.scroll-text {
  font-size: 50px;
  font-family: 'journalregular', cursive;
  color: #EFF8FC;
  position: absolute;
  width: 100%;
  top: -30px;
  left: 0;
  text-align: center;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -ms-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  opacity: 0; }

.scroller-arrow {
  width: 81px;
  height: 19px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  -webkit-animation: arrowPulse 1s ease-in-out infinite alternate;
  -moz-animation: arrowPulse 1s ease-in-out infinite alternate;
  -ms-animation: arrowPulse 1s ease-in-out infinite alternate;
  animation: arrowPulse 1s ease-in-out infinite alternate;
  margin-bottom: 15px; }
  .scroller-arrow:before {
    width: 45px;
    background: #EFF8FC;
    height: 4px;
    content: '';
    left: 0;
    position: absolute;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotate(27deg);
    -moz-transform: rotate(27deg);
    -ms-transform: rotate(27deg);
    -o-transform: rotate(27deg);
    transform: rotate(27deg);
    border-radius: 3px; }
  .scroller-arrow:after {
    width: 45px;
    background: #EFF8FC;
    height: 4px;
    content: '';
    right: 0;
    position: absolute;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotate(-27deg);
    -moz-transform: rotate(-27deg);
    -ms-transform: rotate(-27deg);
    -o-transform: rotate(-27deg);
    transform: rotate(-27deg);
    border-radius: 3px;
    top: 20px; }

@-webkit-keyframes arrowPulse {
  from {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 30px, 0);
    opacity: 0; } }

@-moz-keyframes arrowPulse {
  from {
    opacity: 1; }
  to {
    -moz-transform: translate3d(0, 30px, 0);
    opacity: 0; } }

@keyframes arrowPulse {
  from {
    opacity: 1; }
  to {
    transform: translate3d(0, 30px, 0);
    opacity: 0; } }
