html,
body {
    min-height: 100%;
}

/* Le background de fond */
body {
    background: #92c7d6;
    background-image: -webkit-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
    background-image: -moz-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
    background-image: -o-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
    background-image: radial-gradient(top, circle cover, #97d0e1, #427388 80%);
}

#myCarousel{
    margin-bottom: 30px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    height: 300px;
    margin: auto;
}

#btn{
    margin-bottom: 20px;
}

ol{
    display: none;
}
